[submodule "VLE_cookbook"]
    path = VLE_cookbook
    url = https://github.com/MedvedEE/VLE_cookbook

[submodule "VLE_Bootstrap"]
	path = VLE_Bootstrap
	url = https://github.com/MedvedEE/VLE_Bootstrap

[submodule "VLE_JS"]
	path = VLE_JS
	url = https://github.com/MedvedEE/VLE_JS
